@charset "utf-8";
@import 'variables';
@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'icomoon';

section {
  padding-top: 4rem;
}

h3 {
  font-weight: bold;
}

.section-title {
  h1 {
    font-weight: 300;
    color: $brand-danger;
  }
  @extend .col-md-3;
  @media (min-width: $screen-md) {
    text-align: right;
    h1 {
      margin-top: 0;
    }
  }
}

body {
  padding-bottom: 8rem;
}

.section-content {
  @extend .col-md-9;
  @media (min-width: $screen-md) {
    h2:first-child {
      margin-top: 0;
    }
  }
}

p.lead {
  font-size: $font-size-base * 1.15;
  margin-bottom: 0;
}

#masthead {
  // background: $brand-primary;
  background: lighten($brand-warning, 10%);
  color: white;
  padding: 6rem 0;
}

#skills {
  ul {
    @extend .list-inline;
    margin-left: 0; //Bootstrap is dumb
  }
  li {
    @extend .label;
    // font-size: $font-size-base;
    background-color: darken(white, 50%);
    // color: inherit;
    // font-weight: normal;
  }
}

#profiles {
  .btn {
    margin-left: 5px;
    margin-right: 5px;
    &:first-child {
      margin-left: 0;
    }
  }
}
