---
---
%section#masthead.wrapper
  .container
    %h1.text-center Quinn Rohlf
    %h2.text-center Full-Stack Web Developer

%section#contact
  .container
    .row
      .section-title
        %h1 Contact
      .section-content
        .row
          .col-sm-3.col-xs-6
            %h2 Email
            %p qr@qrohlf.com
          .col-sm-3.col-xs-6
            %h2 Phone
            %p (503) 427 8466

%section#about
  .container
    .row
      .section-title
        %h1 About
      .section-content
        %p Quinn hails from Portland, Oregon and will graduate from Lewis & Clark College with a B.A. in Computer Science this spring. Quinn has 5 years of experience with full-stack web development - he has also built Android apps, programmed game AIs, worked with microcontrollers, wired hardware control systems, and done CAD design for underwater robots. When he's not working, Quinn enjoys rock climbing, backpacking, and mountaineering.

%section#skills
  .container
    .row
      .section-title
        %h1 Skills
      .section-content
        %h2 Frameworks & Platforms
        %ul
          %li Rails
          %li Sinatra
          %li Jekyll
          %li Middleman
          %li Node.js
          %li Bootstrap
          %li Wordpress
          %li Drupal
          %li Joomla
          %li Android
          %li Arduino
        %h2 Programming Languages
        %ul
          %li Ruby
          %li JavaScript
          %li Python
          %li Java
          %li Haskell
          %li Bash
          %li HTML
          %li CSS
          %li SASS
          %li C/C++
          %li PHP
        %h2 Tools
        %ul
          %li Git
          %li Perforce
          %li Heroku
          %li Vagrant
          %li Puppet
          %li Photoshop
          %li Illustrator
          %li Mathematica

%section#profiles
  .container
    .row
      .section-title
        %h1 Profiles
      .section-content
        %p
          %a.btn.btn-default.btn-large{href: "http://qrohlf.com"}
            %span.icon-feed
            qrohlf.com
          %a.btn.btn-default.btn-large{href: "https://github.com/qrohlf"}
            %span.icon-github
            github.com/qrohlf
          %a.btn.btn-default.btn-large{href: "https://twitter.com/qrohlf"}
            %span.icon-twitter
            twitter.com/qrohlf

%section#education
  .container
    .row
      .section-title
        %h1 Education
      .section-content
        %h2
          Lewis & Clark College
          %small (2012-2015)
        %p Computer Science (BA)
        %h2
          University of Southern California
          %small (2011-2012)
        %p Computer Science (BS)

%section#experience
  .container
    .row
      .section-title
        %h1 Experience
      .section-content
        %h2
          Lewis & Clark College
          %small (Fall 2014)
        %p
          %strong Co-teacher, Web Development &middot;
          Developed <a href="http://webdev.qrohlf.com">original cirriculum</a> for Lewis & Clark Course CS393, Network Programming. Gave weekly workshops on modern web development tools and practices. Designed and facilitated hands-on lab activities.
        %h2
          Mountain Madness
          %small (Summer 2014)
        %p
          %strong Equipment Manager & Mountain Guide &middot;
          Coordinated equipment and logistics for a large guide service. Interacted directly with clients in a support role. Gained experience working in high-pressure, time-critical environments.
        %h2
          Digimarc
          %small (Summer 2013)
        %p
          %strong Engineering/R&D Intern &middot;
          Designed methods for processing and analyzing image recognition software performance with large datasets. Built custom testing applications for evaluating network latency on Android.
        %h2
          Oregon Health & Science University
          %small (Spring 2013)
        %p
          %strong Web Development Intern &middot;
          Served as a consultant on responsive and mobile web design/development.
        %h2
          Digimarc
          %small (Summer 2011)
        %p
          %strong Web Development Intern &middot;
          Developed a web-based build automation system in Drupal/PHP and worked within a fast-paced team to keep this platform current with changes in Digimarc's codebase.

        %h2
          Digimarc
          %small (Summer 2010)
        %p
          %strong Mobile Development Intern &middot;
          Worked as part of Digimarc's mobile development team to develop custom Android computer vision applications.

%section#awards
  .container
    .row
      .section-title
        %h1 Awards
      .section-content
        %h2 PDXSW 2014 Winner - Best Customer Validation
        %p Team leader of the <a href="http://spoke.coffee">spoke.coffee</a> team at Portland Startup Weekend 2014
        %h2 Dean's List 2014
        %p Lewis & Clark College
        %h2 PDXSW 2013 Winner - Overall
        %p Head developer for the LivFly team at Portland Startup Weekend 2014
        %h2 Best Website for a nonprofit organization
        %p <a href="http://transmedia.usc.edu/portfolio/sc-outfitters/">USC Webfest 2012</a>
        %h2 W.V.T. Rusch Engineering Honors Program
        %p University of Southern California
