---
---
%section#masthead.wrapper
  .container
    %h1.text-center Quinn Rohlf
    %h2.text-center Full-Stack Web Developer

%section#about
  .container
    .row
      .section-title
        %h1 About
      .section-content
        %p Quinn hails from Portland, Oregon and will graduate from Lewis & Clark College with a B.A. in Computer Science this spring. While his work for the last few years has revolved mainly around full-stack web development, he has also built Android apps, programmed game AIs, studied analog photography, wired hardware control systems, and done CAD design for underwater robots. When he's not working, Quinn enjoys rock climbing, backpacking, and mountaineering.

%section#skills
  .container
    .row
      .section-title
        %h1 Skills
      .section-content
        %h2 Frameworks & Platforms
        %ul
          %li Rails
          %li Sinatra
          %li Jekyll
          %li Middleman
          %li Node
          %li Wordpress
          %li Drupal
          %li Joomla
          %li Android
        %h2 Programming Languages
        %ul
          %li Ruby
          %li JavaScript
          %li Python
          %li Java
          %li Haskell
          %li Bash
          %li HTML
          %li CSS
          %li SASS
          %li C/C++
          %li PHP
        %h2 Tools
        %ul
          %li Git
          %li Perforce
          %li Heroku
          %li Vagrant
          %li Puppet
          %li Photoshop
          %li Illustrator

%section#profiles
  .container
    .row
      .section-title
        %h1 Profiles
      .section-content
        %ul
          %li
            %a.btn.btn-default.btn-large{href: "http://qrohlf.com"}
              %span.icon-feed
              qrohlf.com
          %li
            %a.btn.btn-default.btn-large{href: "https://github.com/qrohlf"}
              %span.icon-github
              github.com/qrohlf
          %li
            %a.btn.btn-default.btn-large{href: "https://twitter.com/qrohlf"}
              %span.icon-twitter
              twitter.com/qrohlf

%section#education
  .container
    .row
      .section-title
        %h1 Education
      .section-content
        %h2
          Lewis & Clark College
          %small 2012-2015
        %h2
          University of Southern California
          %small 2011-2012

%section#experience
  .container
    .row
      .section-title
        %h1 Experience
      .section-content

%section#awards
  .container
    .row
      .section-title
        %h1 Awards
      .section-content
